.homeSide{ 
    display: none;
    width: 25%;
    margin-right: 2%;
    background-color: white;
    position: absolute;
    top:0;
    bottom: 0;
}
.socialList {
    width: 80%;
    margin: 50px auto;
}
.linksList {
    margin-top: 80px;
    padding: 0;
}
.socialList, .linksList{
    list-style: none;
}
.socialList li {
    padding: 26px 0;
    color: darkblue;
    text-decoration: underline;
    text-align: center;
    line-height:30px ;
    font-weight: 500;
}
.socialList li img{
    width: 53px;
    float: right;
    border-radius: 12px;
}
.link {
    display: block;
    padding: 29px 0;
    margin: 5px 2px;
    background-color: #dedede;
    text-align: center;
}
@media screen and (min-width: 1024px) {
    .homeSide{ 
        display: inline-block;
    }    
}