.homeSide {
  display: none;
  flex: 1;
  background-color: white;
}
.socialList {
  width: 80%;
  margin: 50px auto;
}
.linksList {
  margin-top: 80px;
  padding: 0;
}
.socialList,
.linksList {
  list-style: none;
}
.socialList li {
  margin: 30px 0;
  color: #4b4bff;
  text-decoration: underline;
  text-align: center;
  line-height: 30px;
  font-weight: 500;
  display: flex;
  align-items: center;
}
.socialList li img {
  width: 53px;
  /* float: right; */
  border-radius: 12px;
}
.socialList li a {
  margin-right: 20px;
}
.link {
  display: block;
  padding: 14px 0;
  margin: 5px 5px;
  background-color: #dedede;
  text-align: center;
}
@media screen and (min-width: 1024px) {
  .homeSide {
    display: inline-block;
  }
}
