.nav {
  background-color: #353535;
}
.container {
  width: 90%;
  margin: auto;
}
.navContent {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: white;
}
.navContentHeader {
  padding: 0;
  margin: 0;
  font-size: large;
}
.dropdown {
  position: relative;
  padding-top: 21px;
  padding-bottom: 7px;
  font-size: medium;
  cursor: pointer;
}
.dropdownList {
  list-style: none;
  display: none;
  position: absolute;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  padding: 12px 16px;
  z-index: 1;
  background-color: #666;
  left: -10px;
  top: 58px;
}
.dropdown:hover .dropdownList {
  display: block;
}

@media screen and (min-width: 768px) {
  .navContentHeader {
    font-size: larger;
  }
  .dropdown {
    font-size: 18px;
  }
  .dropdownList {
    top: 62px;
  }
}
