.box {
    text-align: center;
    margin: 50px 0;
}
.boxTitle {
    background-color: #4688D2;
    font-weight: normal;
    color: white;
    padding: 12px;
}
.boxTextUnShow {
    height: 0;
    overflow: hidden;
}
.boxTextShow {
    padding: 10px;
    background: #F1F1F1;
    color: #4D4D4D;
    overflow-y: hidden;
    transition: height 1s linear;
}