.adminMain {
  display: flex;
  padding: 10px;

  .message {
    text-align: center;
    width: 100%;
    max-width: 300px;
    position: fixed;
    left: 20px;
    bottom: 20px;

    color: #fcfcfc;
    background-color: #cf2e2e;
    border-radius: 5px;
  }
  main {
    flex: 4;
    & > div {
      border-bottom: 2px solid #222222;
      padding: 50px 0;
    }

    h1 {
      text-align: center;
      margin: 0 0 20px;
      padding: 30px 10px 10px;
      position: relative;
      color: #222222;
      &:after {
        content: "";
        position: absolute;
        bottom: 0;
        right: 50%;
        transform: translateX(50%);
        display: block;
        background-color: #222222;
        width: 50px;
        height: 3px;
        transition: 0.5s;
      }
      &:hover {
        &:after {
          width: 100px;
        }
      }
    }
    h2 {
      color: #222222;
      text-align: center;
      padding: 30px;
    }

    form {
      width: 100%;
      max-width: 768px;
      margin: auto;
      span {
        color: #cf2e2e;
        font-size: xx-large;
        margin: 20px;
        cursor: pointer;
      }
      img {
        margin: 25px;
        width: 100px;
        padding: 10px;
        border: 2px dashed #222222;
        border-radius: 5px;
        cursor: pointer;
      }
      input {
        padding: 10px;
        font-size: large;
      }
      div {
        width: 100%;
        input {
          width: 100%;
          margin: 0 0 10px;
        }
      }
      input[type="submit"] {
        width: 100%;
        max-width: 100px;
        cursor: pointer;
      }
    }

    table {
      width: 100%;
      max-width: 768px;
      margin: auto;
      border-collapse: collapse;
      th {
        padding: 10px;
      }
      thead {
        background-color: #4688d2;
        th {
          font-size: large;
          color: #fcfcfc;
        }
      }
      tbody {
        tr {
          &:nth-child(even) {
            background-color: #cfcfcf;
            color: #222222;
          }
          &:nth-child(odd) {
            background-color: #222222;
            color: #ffffffe5;
          }
          button {
            color: #fcfcfc;
            border: none;
            outline: none;
            border-radius: 0;
            width: 50px;
            cursor: pointer;
            box-shadow: 0px 0px 5px black;
            &:active {
              box-shadow: none;
            }

            &:first-of-type {
              background-color: #4688d2;
            }
            &:last-of-type {
              margin-right: 10px;
              background-color: #cf2e2e;
            }
            &:hover {
              background-color: #cfcfcf;
              color: #222222;
            }
          }
        }
      }
    }
  }
}

@media screen and (max-width: 425px) {
  .adminMain {
    table {
      th {
        font-size: smaller !important;
      }
    }
  }
}
