.textEditer {
  display: flex;
  .close_icone {
    color: #cf2e2e;
    position: fixed;
    top: 5px;
    right: 5px;
    font-size: x-large;
    cursor: pointer;
    z-index: 5;
  }
  .message {
    text-align: center;
    width: 100%;
    max-width: 300px;
    position: fixed;
    left: 20px;
    bottom: 20px;

    color: #fcfcfc;
    background-color: #cf2e2e;
    border-radius: 5px;
  }
  main {
    flex: 4;
    margin-top: 70px;
  }
  .wrapper_class {
    background-color: white;
    display: flex;
    flex-direction: column;
    height: 100vh;
  }
  .toolbar_class {
    display: flex;
    justify-content: space-around;
    * {
      direction: ltr;
    }
  }
  .editer_class {
    position: relative;
  }
}
