.update {
  display: flex;
  padding: 10px;
  .message {
    text-align: center;
    width: 100%;
    max-width: 300px;
    position: fixed;
    left: 20px;
    bottom: 20px;
    z-index: 4;

    color: #fcfcfc;
    background-color: #cf2e2e;
    border-radius: 5px;
  }
  main {
    flex: 4;
    & > h1 {
      text-align: center;
      margin: 0 0 20px;
      padding: 30px 10px 10px;
      position: relative;
      color: #222222;
      &:after {
        content: "";
        position: absolute;
        bottom: 0;
        right: 50%;
        transform: translateX(50%);
        display: block;
        background-color: #222222;
        width: 50px;
        height: 3px;
        transition: 0.5s;
      }
      &:hover {
        &:after {
          width: 100px;
        }
      }
    }
    table {
      width: 100%;
      max-width: 800px;
      margin: auto auto 70px;
      border-collapse: collapse;

      caption {
        padding: 50px 0 20px;
        text-align: right;
        font-size: x-large;
        font-weight: 700;
        color: #222222;
      }
      thead {
        background-color: #222222;
        color: #fcfcfc;
      }
      th {
        padding: 10px;
        button {
          padding: 5px 20px;
          margin: 0 5px;
          border: none;
          box-shadow: 1px 1px 4px -2px black;
          transition: 0.1s;
          cursor: pointer;

          &:last-of-type {
            &:hover {
              background-color: #222222;
              color: #fcfcfc;
            }
          }
          &:hover {
            background-color: tomato;
          }
          &:active {
            box-shadow: none;
          }
        }
      }
      tr:nth-child(even) {
        background-color: #d8d8d8;
      }
    }
    > span {
      display: block;
      text-align: center;
      font-size: large;
    }
    .closeUpdata {
      position: absolute;
      top: 25px;
      left: 20px;
      font-size: xx-large;
      color: #cf2e2e;
      cursor: pointer;
    }
  }
}

@media screen and (max-width: 425px) {
  .update {
    table {
      th {
        font-size: smaller;
      }
    }
  }
}
@media screen and (max-width: 375px) {
  .update {
    table {
      th {
        font-size: smaller;
        padding: 5px !important;
        button {
          padding: 5px !important;
          margin: 0 !important;
        }
      }
    }
  }
}
